In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests

df = pd.read_csv('Draft.csv')

In [2]:
df.drop(['Unnamed: 0'], axis = 1, inplace = True)

In [3]:
#df.set_index('Username', inplace = True)

In [4]:
country = df['Country'].tolist()

In [5]:
shortenedCountry = []

for item in country:
    string = item
    splitted = string[34:36]
    shortenedCountry.append(splitted) 

df['Country'] = shortenedCountry

In [6]:
df.head(15)

       Username Title Country  Last_Online      Joined
0       0tiara0    NM      BR   1587690696  1533318496
1        11qq11    NM      US   1587532458  1329628001
2        12teen    NM      CA   1587697362  1436832385
3          190l    NM      US   1587438185  1387637030
4        1b31-0    NM      US   1587578505  1484709881
5        1d31-0    NM      US   1587693261  1527112415
6       1d4_1-0    NM      US   1587690860  1405785283
7        1e41-o    NM      US   1587695768  1546393876
8        1g41-0    NM      US   1587699494  1486226780
9          1lec    NM      US   1587699484  1355460208
10  2012vachamp    NM      US   1587696468  1356021506
11  2.16515E+12    NM      CA   1587701210  1514048892
12       2346pl    NM      PL   1587675859  1333877209
13      2bf41-0    NM      EE   1587702228  1465836906
14      2tilted    NM      US   1587599810  1512620568

In [7]:
listofplayers = df['Username'].tolist()

In [90]:
# penings.get('chess_daily').get('last')
# penings.get('chess_daily').get('record')
# penings.get('chess_rapid').get('last')
# penings.get('chess_rapid').get('record')
# penings.get('chess_bullet').get('last')
# penings.get('chess_bullet').get('record')
# penings.get('chess_blitz').get('last')
# penings.get('chess_blitz').get('record')

{'win': 821,
 'loss': 529,
 'draw': 395,
 'time_per_move': 30405,
 'timeout_percent': 0}

{'win': 1003, 'loss': 862, 'draw': 141}

In [8]:
def getplayerinfo(username, timecontrol, last_or_record):
    link = "https://api.chess.com/pub/player/" + username + "/stats"
    desiredinfo = requests.get(link).json().get(timecontrol).get(last_or_record)
    return desiredinfo

In [9]:
#Blitz record
recordblitzlist = []
for x in range(len(listofplayers)):
        recordblitzlist.append("")
        
for player in listofplayers:
    try:     
        recordblitz = getplayerinfo(player, 'chess_blitz', 'record')
        recordblitzlist[listofplayers.index(player)] = recordblitz
    except:
        recordblitzlist[listofplayers.index(player)] = "N/A"

In [10]:
#Bullet record
recordbulletlist = []
for x in range(len(listofplayers)):
        recordbulletlist.append("")
        
for player in listofplayers:
    try:     
        recordbullet = getplayerinfo(player, 'chess_bullet', 'record')
        recordbulletlist[listofplayers.index(player)] = recordbullet
    except:
        recordbulletlist[listofplayers.index(player)] = "N/A"

In [11]:
#Rapid record
recordrapidlist = []
for x in range(len(listofplayers)):
        recordrapidlist.append("")
        
for player in listofplayers:
    try:     
        recordrapid = getplayerinfo(player, 'chess_rapid', 'record')
        recordrapidlist[listofplayers.index(player)] = recordrapid
    except:
        recordrapidlist[listofplayers.index(player)] = "N/A"

In [12]:
#Daily record
recorddailylist = []
for x in range(len(listofplayers)):
        recorddailylist.append("")
        
for player in listofplayers:
    try:     
        recorddaily = getplayerinfo(player, 'chess_daily', 'record')
        recorddailylist[listofplayers.index(player)] = recorddaily
    except:
        recorddailylist[listofplayers.index(player)] = "N/A"

In [13]:
#Blitz last
lastblitzlist = []
for x in range(len(listofplayers)):
        lastblitzlist.append("")
        
for player in listofplayers:
    try:     
        lastblitz = getplayerinfo(player, 'chess_blitz', 'last')
        lastblitzlist[listofplayers.index(player)] = lastblitz
    except:
        lastblitzlist[listofplayers.index(player)] = "N/A"

In [14]:
#Bullet last
lastbulletlist = []
for x in range(len(listofplayers)):
        lastbulletlist.append("")
        
for player in listofplayers:
    try:     
        lastbullet = getplayerinfo(player, 'chess_bullet', 'last')
        lastbulletlist[listofplayers.index(player)] = lastbullet
    except:
        lastbulletlist[listofplayers.index(player)] = "N/A"

In [15]:
#Rapid last
lastrapidlist = []
for x in range(len(listofplayers)):
        lastrapidlist.append("")
        
for player in listofplayers:
    try:     
        lastrapid = getplayerinfo(player, 'chess_rapid', 'last')
        lastrapidlist[listofplayers.index(player)] = lastrapid
    except:
        lastrapidlist[listofplayers.index(player)] = "N/A"

In [20]:
df['lastrapid'] = lastrapidlist
df['lastblitz'] = lastblitzlist
df['lastdaily'] = lastdailylist
df['lastbullet'] = lastbulletlist
df['recordrapid'] = recordrapidlist
df['recordblitz'] = recordblitzlist
df['recordbullet'] = recordbulletlist
df['recorddaily'] = recorddailylist

In [16]:
#Daily last
lastdailylist = []
for x in range(len(listofplayers)):
        lastdailylist.append("")
        
for player in listofplayers:
    try:     
        lastdaily = getplayerinfo(player, 'chess_daily', 'last')
        lastdailylist[listofplayers.index(player)] = lastdaily
    except:
        lastdailylist[listofplayers.index(player)] = "N/A"

In [108]:
# print(getplayerinfo('nocheatingkid', 'chess_bullet', 'last'))

{'rating': 2620, 'date': 1560395680, 'rd': 75}

In [22]:
df.to_csv('Finally.csv')

In [23]:
df

,Username,Title,Country,Last_Online,Joined,lastrapid,lastblitz,lastdaily,lastbullet,recordrapid,recordblitz,recordbullet,recorddaily
0,0tiara0,NM,BR,1587690696,1533318496,N/A,"{'rating': 1974, 'date': 1587587134, 'rd': 41}",N/A,"{'rating': 1955, 'date': 1571192523, 'rd': 65}",N/A,"{'win': 576, 'loss': 575, 'draw': 68}","{'win': 52, 'loss': 29, 'draw': 3}",N/A
1,11qq11,NM,US,1587532458,1329628001,"{'rating': 1804, 'date': 1584832344, 'rd': 213}","{'rating': 2275, 'date': 1587767148, 'rd': 34}","{'rating': 1693, 'date': 1546204226, 'rd': 84}","{'rating': 2301, 'date': 1582782382, 'rd': 62}","{'win': 48, 'loss': 44, 'draw': 2}","{'win': 2908, 'loss': 2504, 'draw': 365}","{'win': 2472, 'loss': 1682, 'draw': 210}","{'win': 778, 'loss': 517, 'draw': 139, 'time_p..."
2,12teen,NM,CA,1587697362,1436832385,"{'rating': 2400, 'date': 1586024931, 'rd': 314}","{'rating': 2775, 'date': 1587494993, 'rd': 34}","{'rating': 1120, 'date': 1586210404, 'rd': 276}","{'rating': 2888, 'date': 1587702352, 'rd': 28}","{'win': 2, 'loss': 1, 'draw': 0}","{'win': 1003, 'loss': 862, 'draw': 141}","{'win': 2364, 'loss': 2027, 'draw': 240}","{'win': 0, 'loss': 9, 'draw': 0, 'time_per_mov..."
3,190l,NM,US,1587438185,1387637030,N/A,"{'rating': 2076, 'date': 1587438497, 'rd': 44}","{'rating': 1891, 'date': 1433494932, 'rd': 62}","{'rating': 1884, 'date': 1587766334, 'rd': 40}",N/A,"{'win': 2777, 'loss': 2857, 'draw': 317}","{'win': 5514, 'loss': 5228, 'draw': 370}","{'win': 81, 'loss': 83, 'draw': 5, 'time_per_m..."
4,1b31-0,NM,US,1587578505,1484709881,"{'rating': 2128, 'date': 1548394167, 'rd': 326}","{'rating': 2315, 'date': 1587769874, 'rd': 49}","{'rating': 1914, 'date': 1587768908, 'rd': 59}","{'rating': 2180, 'date': 1587770064, 'rd': 39}","{'win': 3, 'loss': 0, 'draw': 0}","{'win': 628, 'loss': 471, 'draw': 101}","{'win': 723, 'loss': 536, 'draw': 87}","{'win': 129, 'loss': 47, 'draw': 14, 'time_per..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7521,yygogo99,WFM,CA,1587691538,1458248065,"{'rating': 1902, 'date': 1586107789, 'rd': 119}","{'rating': 1775, 'date': 1587252977, 'rd': 84}","{'rating': 1805, 'date': 1577985593, 'rd': 142}","{'rating': 1354, 'date': 1559005911, 'rd': 106}","{'win': 55, 'loss': 25, 'draw': 6}","{'win': 168, 'loss': 78, 'draw': 11}","{'win': 16, 'loss': 9, 'draw': 0}","{'win': 19, 'loss': 22, 'draw': 0, 'time_per_m..."
7522,zarinashafigullina,WFM,RU,1587666493,1539874964,N/A,"{'rating': 2139, 'date': 1587307504, 'rd': 41}",N/A,"{'rating': 2053, 'date': 1587666104, 'rd': 85}",N/A,"{'win': 101, 'loss': 69, 'draw': 16}","{'win': 15, 'loss': 11, 'draw': 4}",N/A
7523,zedskyx,WFM,AU,1587656295,1442810593,"{'rating': 2053, 'date': 1501665084, 'rd': 141}","{'rating': 2150, 'date': 1586670244, 'rd': 112}","{'rating': 1896, 'date': 1561537802, 'rd': 115}","{'rating': 2093, 'date': 1548161404, 'rd': 92}","{'win': 15, 'loss': 0, 'draw': 0}","{'win': 303, 'loss': 264, 'draw': 36}","{'win': 2649, 'loss': 2481, 'draw': 207}","{'win': 106, 'loss': 33, 'draw': 7, 'time_per_..."
7524,zmeeed63,WFM,RU,1587676110,1500812580,"{'rating': 1691, 'date': 1566478782, 'rd': 170}","{'rating': 2145, 'date': 1587489488, 'rd': 35}","{'rating': 800, 'date': 1539451806, 'rd': 350}","{'rating': 2136, 'date': 1587729448, 'rd': 40}","{'win': 5, 'loss': 0, 'draw': 0}","{'win': 1304, 'loss': 1082, 'draw': 86}","{'win': 482, 'loss': 330, 'draw': 25}","{'win': 2, 'loss': 0, 'draw': 0, 'time_per_mov..."
7525,zuzanak,WFM,SK,1587671870,1284815586,"{'rating': 2000, 'date': 1526040762, 'rd': 189}","{'rating': 1932, 'date': 1587228010, 'rd': 76}","{'rating': 2063, 'date': 1555185250, 'rd': 84}","{'rating': 1761, 'date': 1587770276, 'rd': 21}","{'win': 3, 'loss': 2, 'draw': 0}","{'win': 6440, 'loss': 5285, 'draw': 483}","{'win': 15052, 'loss': 11769, 'draw': 651}","{'win': 86, 'loss': 39, 'draw': 34, 'time_per_..."